.wrapper {
    font-family: Arial, sans-serif;
  }
  
  .tableContainer {
    overflow-x: auto;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden; /* Для скругления углов */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  }
  .table th,
  .table td {
    text-align: center;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
  }
  
  .table td {
    padding: 5px 5px;
    text-align: left;
    
  }
  .table th {
    vertical-align: top; 
    padding: 10px 10px;
    background-color: #f0f0f0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .table tbody{
    font-size: 14px;
    font-weight: normal;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
  
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
  }
  
  .table th:nth-child(1), /* Первая колонка (Номер участка) */
  .table td:nth-child(1) {
    width: 10px;
    text-align: center;
  }
  
  .table th:nth-child(2), /* Вторая колонка (Владелец) */
  .table td:nth-child(2) {
    width: 250px;
  }
  .table th:nth-child(3), /* Вторая колонка (сн) */
  .table td:nth-child(3) {
    width: 100px;
    text-align: center;
  }
  .table th:nth-child(4), /* Вторая колонка (модель) */
  .table td:nth-child(4) {
    width: 200px;
    text-align: right;
    padding-right: 20px;
  }
  .table th:nth-child(5), /* Вторая колонка (пломба) */
  .table td:nth-child(5) {
    width: 30px;
    text-align: center;
  }
  .table th:nth-child(6), /* Вторая колонка (пломба) */
  .table td:nth-child(6) {
    width: 30px;
  }
  .table th:nth-child(7), /* Первая колонка (магн.пломба) */
  .table td:nth-child(7) {
    width: 30px;
    text-align: center;
  }
  
  .table th:nth-child(8), /* Вторая колонка (полмба щит) */
  .table td:nth-child(8) {
    width: 30px;
  }
  .table th:nth-child(9), /* Вторая колонка (Дата записи) */
  .table td:nth-child(9) {
    width: 30px;
    text-align: center;
  }
  .table th:nth-child(10), /* Вторая колонка (Показания) */
  .table td:nth-child(10) {
    width: 10px;
    text-align: right;
    padding-right: 20px;
  }
  .table th:nth-child(11), /* Вторая колонка (дата) */
  .table td:nth-child(11) {
    width: 30px;
    text-align: center;
  }
  .table th:nth-child(12), /* Вторая колонка (Замечания) */
  .table td:nth-child(12) {
    width: 250px;
  }