/*src/comp/body/body.module.css*/
/*Page*/
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Занимает всю высоту экрана */
  width: 100%;
}

.line_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/*Main*/
.main {
  flex-grow: 1;
  /*padding: 20px 0px;*/
  width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem auto;
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
/*
/*Container*/
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Адаптивные стили (медиа-запросы) */
@media (min-width: 480px) {
  .container {
    max-width: 470px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

.header {
  position: relative;
  background-color: #f0f0f0;
  padding:0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование по горизонтали */
}

.line_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburgerIcon span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
  transition: 0.3s;
}
