/* src/components/Navbar.module.css */

.navList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none; 
  align-items:flex-start;
  justify-content: space-between;
}
.navItem {
  padding: 1px;
  
}

.navItem :hover {
  color: blue;
}/*
.logout{
  color: blue;
}*/
.navList li:last-child{
  color: goldenrod;
}
.logout :hover{
  stroke: forestgreen;
}

/* mobile */
@media (max-width: 767px) {
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(250, 250, 250);
    padding: 0 5rem;
  }

  .navList {
    padding: 0 20px;
    flex-direction: column;
    /*width: 100%;*/
    align-items: start;
  }
}
