.wrapper {
  font-family: Arial, sans-serif;
}

.tableContainer {
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  border: 1px solid #ddd;
}

.table th,
.table td {
  min-width: 70px;
  padding: 5px 15px;
  text-align: left;
  border: 1px solid #eee;
}

.table th {
  background-color: #f4f4f4;
  font-size: 15px;
  font-weight: bold;
}
.table td {
  font-size: 15px;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table tbody tr:nth-child(even):hover {
  background-color: green;
  color: #ddd;
}
.table tr:hover {
  background-color: green;
  color: #ddd;
  cursor: pointer;
}

.selectedRow {
  background-color: #d0e8ff !important;
}

.pag {
  display: flex;
}
.pagination {
  display: block;
  margin: 10px auto;
}

.label {
  display: block;

  margin-bottom: 10px;
  margin-top: 10px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  margin: 0 10px;
}

.filters {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #ddd;
}
.filters>div {
  width: 350px;
  margin: 0px auto;

}

.filter{
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: right;
  margin: 0px auto;
  padding: 0px 8px;
}
@media (min-width: 480px) {
  .filter{

    align-items:end;

  }

}
@media (min-width: 768px) {
  .pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
  }
  .filters>div {
    width: 480px;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .filters>div {
    width: 100%;
    display: flex;
  }
  .filter {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    background-color: #ddd;
    
  }
}

@media (min-width: 1201px) {
}

@media (min-width: 1442px) {
}
